Django==1.6.11  # MUST be installed from 'pip install git+https://github.com/django-nonrel/django@nonrel-1.6'
Jinja2==2.8
MarkupSafe==0.23
Paver==1.2.1
PyYAML==3.11
Pygments==2.0.2
amqp==1.4.9
anyjson==0.3.3
argh==0.26.1
backports-abc==0.4
backports.ssl-match-hostname==3.4.0.2
billiard==3.3.0.23
biopython==1.66
certifi==2015.9.6.2
contracts==0.1.0
decorator==4.0.4
django-extensions==1.6.1
django-jinja==2.1.2
django-mongodb-engine==0.6.0
django-mongonaut==0.2.21
djangotoolbox==1.8.0
functools32==3.2.3-2
ipykernel==4.1.1
ipython==4.0.0
ipython-genutils==0.1.0
ipywidgets==4.1.1
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.1.1
jupyter-console==4.0.3
jupyter-core==4.0.6
kombu==3.0.35
lazy==1.1
lxml==3.4.4
mistune==0.7.1
mongoengine==0.10.6
nbconvert==4.1.0
nbformat==4.0.1
notebook==6.4.10
path.py==3.0.1
pathtools==0.1.2
pickleshare==0.5
poster==0.8.1
psutil==1.2.1
pymongo==3.2.2
python-memcached==1.54
pytz==2016.4
pyzmq==15.0.0
qtconsole==4.1.0
requests==2.10.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.9.0
tornado==4.3
traitlets==4.0.0
watchdog==0.7.1
